:root {
    --verde_agua_medio: #155e63;
    --blanco_1: #f9f8eb;
    --verde_agua_claro: #1e868d;
    --verde_agua_oscuro: #0c3639;
    --blanco_2: #ffffff;
    --blanco_hueso: #edeac4;
    --gris_oscuro: #555555;
}

#generos,
#gradoAcademino {
    border: var(--verde_agua_claro) solid !important;
    padding: 15px;
    border-radius: 15px !important;
}

#submit {
    background-color: var(--verde_agua_claro) !important;
    color: var(--blanco_1) !important;
    border: none !important;
    padding: 10px 15px !important;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.40);
}

#submit:hover {
    background-color: var(--verde_agua_oscuro) !important;
}

#submit:active {
    transform: translateY(4px);
}