:root {
    --verde_agua_medio: #155e63;
    --blanco_1: #f9f8eb;
    --verde_agua_claro: #1e868d;
    --verde_agua_oscuro: #0c3639;
    --blanco_2: #ffffff;
    --blanco_hueso: #edeac4;
    --gris_oscuro: #555555;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--gris_oscuro);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--verde_agua_medio);
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

span {
    color: var(--verde_agua_claro);
    font-weight: bold;
    font-style: oblique;
}

button {
    background-color: var(--verde_agua_claro) !important;
    color: var(--blanco_1) !important;
    border: none !important;
    padding: 10px 15px !important;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.40);
}

button:hover {
    background-color: var(--verde_agua_oscuro) !important;
}

button:active {
    transform: translateY(4px);
}

body .container {
    background-color: var(--blanco_2);
}

header .navbar,
header .dropdown-menu {
    background: var(--blanco_1) url(../img/background_pattern.png) repeat-x;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.40);
}

#logoNavBar,
#controlNavBar,
#logoFooter {
    height: 75px;
    width: auto;
}

#opcionesNav {
    position: relative;
    margin: auto auto;
}

#opcionesNav li a {
    color: var(--gris_oscuro);
    font-size: 20px;
    font-weight: bold;
}

#opcionesNav li a:hover {
    color: var(--verde_agua_claro);
    margin-top: -5px;
    transition: .2s;
}

#pageFooter {
    background: var(--blanco_1) url(../img/background_pattern.png) repeat-x;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: -1px -8px 5px 0px rgba(0, 0, 0, 0.40);
}

#pageFooter ul li a {
    color: var(--gris_oscuro);
    font-size: 20px;
    font-weight: bold;
}

#pageFooter ul li a:hover {
    color: var(--verde_agua_claro);
    margin-top: -15px;
    transition: .2s;
}

main .main {
    margin-top: 126px;
    margin-bottom: 50px;
}

.articulo {
    padding: 40px;
    background-color: var(--blanco_1);
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.40);
}

.patron {
    background-color: var(--blanco_1);
    opacity: 0.8;
    background: repeating-linear-gradient(-45deg, var(--verde_agua_medio), var(--verde_agua_medio) 5px, var(--blanco_1) 5px, var(--blanco_1) 25px);
}

.light { 
    color: var(--blanco_1);
}

video {
    border-radius: 15px;
}